@page
@model IndexModel
@{
    ViewData["Title"] = "Bookshelf";
}

<div class="text-center">
    <h1 class="display-4"><span style="color: rgb(255,193,7);">The</span> Bookshelf</h1>
    <img style="max-height: 20%;" src="https://img.freepik.com/free-vector/row-books-shelf-library-store-school-home-vector-realistic-illustration-literature-stack-vintage-cover-with-golden-decor-bookshelf-isolated-white-background_107791-7968.jpg?size=626&ext=jpg
" alt="book row">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0"> A room without books is like a body without a soul.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Cicero </figcaption>
    </figure>
    </p>
</div>


<div class="container p-1">
    <div class="row pt-4">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add new book
            </a>
        </div>
    </div>
    <br /><br />
    <tbody>
        <div class="container" style="margin-bottom:40px">
            <div class="row">
                @foreach (var book in Model.books)
                {
                    
                    <div class="col-md-3">
                        <div class="card mb-4" style="min-height: 450px;">
                            @*<img style="max-height: 20%;" src="@book.image" alt="@book.title book cover">*@
                            
                            <img class="bd-placeholder-img card-img-top" height="280" src="@book.Image" role="img" >

                            <div class="card-body">
                                <h5 class="card-title">@book.Title</h5>
                                <h6 class="card-subtitle text-muted">By @book.Author</h6>
                            </div>
                            <div style="text-align:center;">
                                <button type="button" style="margin-bottom:10px;"class="btn btn-warning">Book Review</button>
                                <a asp-page="/Review" class="btn btn-primary" asp-route-id=@book.ISBN> <i class="bi bi-plus-circle"></i> &nbsp; Review
                                </a>
                            </div>
                        </div>
                     </div>
                }
            </div>
        </div>
    </tbody>
</div>