@page
@model IndexModel
@{
    ViewData["Title"] = "Bookshelf";
}

<div class="text-center">
    <h1 class="display-4"><span style="color: rgb(255,193,7);">The</span> Bookshelf</h1>
    <p>....</a>.</p>
</div>

@*@foreach (var book in Model.books)
{
    <h2>Image: @book.Image. Title: @book.Title. Author: @book.Author</h2>
    <br />
}*@
<div class="container p-1">
    <div class="row pt-4">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add new book
            </a>
        </div>
    </div>
    <br /><br />
    <tbody>
        <div class="container" style="margin-bottom:40px">
            <div class="row">
                @foreach (var book in Model.books)
                {
                    
                    <div class="col-md-3">
                        <div class="card mb-4" style="min-height: 450px;">
                            @*<img style="max-height: 20%;" src="@book.image" alt="@book.title book cover">*@
                            
                            <img class="bd-placeholder-img card-img-top" height="280" src="@book.Image" role="img" >

                            <div class="card-body">
                                <h5 class="card-title">@book.Title</h5>
                                <h6 class="card-subtitle text-muted">By @book.Author</h6>
                            </div>
                            <div style="text-align:center;">
                                <button type="button" class="btn btn-outline-warning">Book Review</button>
                            </div>


                        </div>
                     </div>
                   
                }
            </div>
        </div>
    </tbody>

    </table>
</div>